/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{padding: 20px;}

.jumbotron{
    padding-top: 0px;
    background:    #FFF;
}

.form-control,.form-group-text{
    border: 1px solid #0080ff;
}

table.table-hover tbody tr:hover{
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
