<div class="topnav">
  <ul>
    <li routerLinkActive="active current"><a routerLink="/home">Home</a></li>
    <li *ngIf="auth.IsLoggedIn()" routerLinkActive="active current" ><a routerLink="/order">Order</a></li>
    <li *ngIf="!auth.IsLoggedIn()" routerLinkActive="active current" ><a routerLink="/login">Login</a></li>
    <li *ngIf="!auth.IsLoggedIn()" routerLinkActive="active current" ><a routerLink="/signup">Sign Up</a></li>
    <li *ngIf="auth.IsLoggedIn()" routerLinkActive="active current"><a routerLink="/login" (click)="auth.LogOut()">Logout</a></li>
  </ul>
</div>
 
  